[submodule "COLMAP_SLAM"]
	path = modules/COLMAP_SLAM
	url = https://github.com/richarah/COLMAP_SLAM
[submodule "modules/Skye"]
	path = modules/Skye
	url = https://github.com/m-schuetz/Skye
[submodule "modules/glomap"]
	path = modules/glomap
	url = https://github.com/richarah/glomap.git
